/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  All DnD5e Apps                           */
/* ----------------------------------------- */
.openlegend {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */
}
.openlegend .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.openlegend input[type="text"],
.openlegend input[type="number"],
.openlegend select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.openlegend input[type="text"]:hover,
.openlegend input[type="number"]:hover,
.openlegend input[type="text"]:focus,
.openlegend input[type="number"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.openlegend input:disabled,
.openlegend select:disabled,
.openlegend textarea:disabled {
  color: #4b4a44;
}
.openlegend input:disabled:hover,
.openlegend select:disabled:hover,
.openlegend textarea:disabled:hover,
.openlegend input:disabled:focus,
.openlegend select:disabled:focus,
.openlegend textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.openlegend button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.openlegend label.checkbox {
  flex: auto;
  padding: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
}
.openlegend label.checkbox > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  position: relative;
  top: 4px;
}
.openlegend label.checkbox.right > input[type="checkbox"] {
  margin: 0 0 0 2px;
}
.openlegend .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.openlegend .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.openlegend .form-group .form-fields > * {
  flex: 1;
}
.openlegend .form-group .form-fields .flex1 {
  flex: 1;
}
.openlegend .form-group .form-fields .flex2 {
  flex: 2;
}
.openlegend .form-group .form-fields .flex3 {
  flex: 3;
}
.openlegend .form-group .form-fields .flex4 {
  flex: 4;
}
.openlegend .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.openlegend .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.openlegend .form-group.stacked label {
  flex: 0 0 100%;
  margin: 0;
}
.openlegend .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.openlegend .form-header {
  margin: 0 0 0.25em 0;
  padding: 2px 0;
  border-top: 2px groove #eeede0;
  border-bottom: 2px groove #eeede0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.openlegend .tag {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
/* ----------------------------------------- */
/*  Entity Sheets Specifically               */
/* ----------------------------------------- */
.openlegend.sheet {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  List Filters                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Trait Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
}
.openlegend.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.openlegend.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.openlegend.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.openlegend.sheet input[type="text"],
.openlegend.sheet input[type="number"] {
  background: none;
  border: 1px solid transparent;
}
.openlegend.sheet input[type="text"]:hover,
.openlegend.sheet input[type="number"]:hover,
.openlegend.sheet input[type="text"]:focus,
.openlegend.sheet input[type="number"]:focus {
  border: 1px solid #111;
}
.openlegend.sheet select {
  flex: 1;
  font-size: 12px;
  height: 22px;
  background: transparent;
}
.openlegend.sheet .editable .rollable:hover {
  cursor: pointer;
}
.openlegend.sheet .editable h4.rollable:hover,
.openlegend.sheet .editable .rollable:hover > h4 {
  color: #000;
  text-shadow: 0 0 10px red;
}
.openlegend.sheet span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.openlegend.sheet .editor {
  height: 100%;
}
.openlegend.sheet .editor .tox-toolbar-overlord,
.openlegend.sheet .editor .tox-toolbar__primary {
  background: none;
}
.openlegend.sheet .sheet-header {
  flex: 0 0 100px;
  border-bottom: 2px groove #eeede0;
  /* Character Name */
  /* Profile Image */
  /* Header Summary Details */
}
.openlegend.sheet .sheet-header .header-details {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.openlegend.sheet .sheet-header h1 {
  flex: 1;
  border-bottom: none;
  height: 60px;
  margin: 0;
  padding: 5px;
}
.openlegend.sheet .sheet-header h1 input {
  display: block;
  height: 50px;
  font-size: 32px;
  margin: 0;
}
.openlegend.sheet .sheet-header img.profile {
  flex: 0 0 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border: none;
  border-right: 2px groove #eeede0;
}
.openlegend.sheet .sheet-header .summary {
  flex: 0 0 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
}
.openlegend.sheet .sheet-header .summary li {
  height: calc(100% - 6px);
  float: left;
  margin: 2px 0;
  padding: 0;
  border-right: 2px groove #eeede0;
  line-height: 34px;
  color: #4b4a44;
}
.openlegend.sheet .sheet-header .summary li:last-child {
  border-right: none;
}
.openlegend.sheet .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.openlegend.sheet .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.openlegend.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.openlegend.sheet .sheet-body {
  flex: 1;
  overflow: hidden;
}
.openlegend.sheet .filter-list {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 16px;
  max-width: 70%;
}
.openlegend.sheet .filter-list .filter-icon {
  flex: none;
  font-size: 14px;
  color: #7a7971;
}
.openlegend.sheet .filter-list .filter-item {
  text-align: center;
  font-size: 12px;
  margin: 0 6px 0 0;
  border-bottom: 3px solid #b5b3a4;
  white-space: nowrap;
}
.openlegend.sheet .filter-list .filter-item:last-child {
  margin: 0;
}
.openlegend.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px red;
  border-bottom: 3px solid #7a7971;
}
.openlegend.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #44191A;
}
.openlegend.sheet .traits {
  margin: 5px 0 0;
}
.openlegend.sheet .traits .trait-selector {
  flex: 0 0 16px;
  padding: 2px 0;
  color: #999;
  font-size: 10px;
}
.openlegend.sheet .traits .traits-list {
  flex: 0 0 100%;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.openlegend.sheet .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #7a7971;
}
.openlegend.sheet .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.openlegend.sheet .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}
.openlegend.sheet .items-list .item-name h3,
.openlegend.sheet .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.openlegend.sheet .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.openlegend.sheet .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}
.openlegend.sheet .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.openlegend.sheet .items-list .item:last-child {
  border-bottom: none;
}
.openlegend.sheet .items-list .item .item-name {
  color: #191813;
}
.openlegend.sheet .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.openlegend.sheet .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.openlegend.sheet .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.openlegend.sheet .items-list .items-header h3 {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}
.openlegend.sheet .effects .item .effect-source,
.openlegend.sheet .effects .item .effect-duration,
.openlegend.sheet .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.openlegend.sheet .effects .item .effect-controls {
  border: none;
}
/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
#trait-selector .trait-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#trait-selector input[type="text"] {
  height: 24px;
  margin: 2px;
}
.openlegend.sheet.item {
  min-height: 400px;
  max-height: 95%;
  min-width: 480px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Details Form                        */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Actions                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Loot Sheet (No Tabs)                     */
  /* ----------------------------------------- */
}
.openlegend.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.openlegend.sheet.item .sheet-header .item-subtitle {
  flex: 0 0 100px;
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: right;
  color: #7a7971;
}
.openlegend.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
}
.openlegend.sheet.item .sheet-header .item-subtitle .item-status {
  font-size: 16px;
  line-height: 24px;
}
.openlegend.sheet.item .sheet-navigation {
  margin-bottom: 5px;
}
.openlegend.sheet.item .sheet-navigation .item {
  font-size: 18px;
}
.openlegend.sheet.item .sheet-body {
  overflow: hidden;
}
.openlegend.sheet.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.openlegend.sheet.item .sheet-body .item-properties {
  flex: 0 0 120px;
  margin: 5px 5px 5px 0;
  padding-right: 5px;
  border-right: 2px groove #eeede0;
}
.openlegend.sheet.item .sheet-body .item-properties .form-group {
  margin: 0;
}
.openlegend.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.openlegend.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.openlegend.sheet.item .sheet-body .item-properties .properties-list .banes-list .categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.openlegend.sheet.item .sheet-body .item-properties .properties-list .banes-list .categories-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.openlegend.sheet.item .details input[type="text"],
.openlegend.sheet.item .details input[type="number"],
.openlegend.sheet.item .details select {
  height: 24px;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
}
.openlegend.sheet.item .details .form-group span {
  text-align: center;
  line-height: 24px;
}
.openlegend.sheet.item .details .form-group.input-select select {
  flex: 1.8;
}
.openlegend.sheet.item .details .form-group.input-select-select select {
  flex: 1.5;
}
.openlegend.sheet.item .details .form-group.uses-per .form-fields {
  flex-wrap: nowrap;
}
.openlegend.sheet.item .details .form-group.uses-per input {
  flex: 0 0 32px;
}
.openlegend.sheet.item .details .form-group.uses-per span {
  flex: 0 0 16px;
  margin: 0 4px 0 0;
}
.openlegend.sheet.item .details span.sep {
  flex: 0 0 8px;
}
.openlegend.sheet.item .details .prepared {
  flex: 1.3 !important;
  text-align: right;
  padding-right: 10px;
}
.openlegend.sheet.item .details .spell-materials {
  flex: 0 0 100%;
  margin: 0.25em 0;
  justify-content: flex-end;
}
.openlegend.sheet.item .details .spell-materials label {
  flex: 0 0 64px;
  text-align: right;
  margin-right: 5px;
  font-size: 12px;
  line-height: 24px;
}
.openlegend.sheet.item .details .spell-materials input[type="text"] {
  flex: 0 0 48px;
  margin-right: 10px;
}
.openlegend.sheet.item h4.damage-header {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #4b4a44;
}
.openlegend.sheet.item .damage-parts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.openlegend.sheet.item .damage-parts .damage-part {
  flex: 0 0 100%;
  padding: 0;
}
.openlegend.sheet.item .damage-parts .damage-part input {
  flex: 3;
}
.openlegend.sheet.item .damage-parts .damage-part select {
  margin-left: 5px;
  flex: 1;
}
.openlegend.sheet.item .damage-control {
  width: 18px;
  flex: 0 0 18px;
  line-height: 24px;
  float: right;
  text-align: right;
  color: #7a7971;
}
.openlegend.sheet.item .recharge.form-group span {
  text-align: right;
  padding-right: 3px;
}
.openlegend.sheet.item .recharge.form-group input[type="text"] {
  flex: 0 0 32px;
  text-align: center;
}
.openlegend.sheet.item .recharge.form-group label.checkbox {
  flex: none;
}
.openlegend.sheet.item .recharge.form-group label.checkbox input {
  width: 16px;
  height: 16px;
  top: 4px;
}
.openlegend.sheet.item .weapon-categories label.checkbox {
  flex: 0 0 98px;
}
.openlegend.sheet.item .weapon-properties label.checkbox {
  flex: 0 0 98px;
}
.openlegend.sheet.item .weapon-banes label.checkbox {
  flex: 0 0 98px;
}
.openlegend.sheet.item .loot-header {
  margin-bottom: 10px;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.openlegend.sheet.actor.character {
  min-width: 720px;
  min-height: 680px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
.openlegend.sheet.actor.character .sheet-header img.profile {
  flex: 0 0 160px;
  max-width: 160px;
  height: 160px;
}
.openlegend.sheet.actor.character .sheet-header .charlevel {
  flex: 0 0 20px;
  height: 20px;
  font-size: 18px;
  color: #7a7971;
  white-space: nowrap;
}
.openlegend.sheet.actor.character .sheet-header .experience {
  flex: 0 0 32px;
  margin-bottom: -5px;
  align-items: center;
  font-size: 18px;
}
.openlegend.sheet.actor.character .sheet-header .experience span.max {
  color: #7a7971;
  flex: none;
  margin-left: 3px;
}
.openlegend.sheet.actor.character .sheet-header .xpbar {
  flex: 0 0 8px;
  width: 100%;
  margin-bottom: 5px;
  background: #7a7971;
  border: 1px solid #000;
  border-radius: 3px;
}
.openlegend.sheet.actor.character .sheet-header .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.openlegend.sheet.actor.character .sheet-header .attributes a.rest {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0 3px;
  margin: 0 3px;
}
.openlegend.sheet.actor.character .sheet-header .attributes .hit-dice {
  font-size: 24px;
}
.openlegend.sheet.actor.character .sheet-header .attributes .initiative .attribute-footer input {
  width: 32px;
}
.openlegend.sheet.actor.character .sheet-header .summary .proficiency {
  text-align: right;
  padding-right: 5px;
}
.openlegend.sheet.actor.character .resource .attribute-value input {
  flex: 0 0 25%;
}
.openlegend.sheet.actor.character .resource .attribute-value label.recharge {
  height: 32px;
  position: relative;
  font-family: "Signika", sans-serif;
  font-size: 11px;
  text-align: center;
  color: #4b4a44;
}
.openlegend.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
  height: 14px;
  width: 14px;
  margin: 0;
  top: -6px;
}
.openlegend.sheet.actor.character ul.skills-list {
  flex: 0 0 212px;
}
.openlegend.sheet.actor.character ul.skills-list li.skill {
  padding: 3px;
}
.openlegend.sheet.actor.character ul.skills-list li.skill h4 {
  flex: 1px;
  margin: 0;
  font-size: 13px;
}
.openlegend.sheet.actor.character .item-detail.player-class {
  flex: 0 0 180px;
  text-align: right;
  padding-right: 10px;
}
.openlegend.sheet.actor.character .inventory .item-controls,
.openlegend.sheet.actor.character .spellbook .item-controls {
  flex: 0 0 68px;
}
.openlegend.sheet.actor.character .inventory .item-controls .item-toggle,
.openlegend.sheet.actor.character .spellbook .item-controls .item-toggle {
  color: #b5b3a4;
}
.openlegend.sheet.actor.character .inventory .item-controls .item-toggle.active,
.openlegend.sheet.actor.character .spellbook .item-controls .item-toggle.active {
  color: #4b4a44;
}
.openlegend.sheet.actor.character .inventory .item-controls .item-toggle.fixed,
.openlegend.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
  color: #44191A;
}
.openlegend.sheet.actor.character .inventory .item-controls .item-toggle.fixed:hover,
.openlegend.sheet.actor.character .spellbook .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.openlegend.sheet.actor.character .characteristics {
  flex: 0 0 180px;
  height: 100%;
  padding: 0 3px 3px;
}
.openlegend.sheet.actor.character .characteristics label {
  flex: 0 0 20px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.openlegend.sheet.actor.character .characteristics textarea {
  font-family: "Signika", serif;
  font-size: 13px;
  border: 1px solid #c9c7b8;
  resize: none;
}
.openlegend.sheet.actor.character .biography {
  max-width: calc(100% - 180px);
}
